@font-face {
  font-family: "iconfont"; /* Project id 2867042 */
  src: url('//at.alicdn.com/t/font_2867042_rz5cqljs0nm.woff2?t=1634546917593') format('woff2'),
       url('//at.alicdn.com/t/font_2867042_rz5cqljs0nm.woff?t=1634546917593') format('woff'),
       url('//at.alicdn.com/t/font_2867042_rz5cqljs0nm.ttf?t=1634546917593') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-right:before {
  content: "\e7f5";
}

.icon-Rightbutton:before {
  content: "\e765";
}
