@font-face {
  font-family: "iconfont"; /* Project id 3280790 */
  src: url('iconfont.woff2?t=1648349645662') format('woff2'),
       url('iconfont.woff?t=1648349645662') format('woff'),
       url('iconfont.ttf?t=1648349645662') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e69a";
  font-size: 50px;
}

.icon-search:before {
  content: "\e6ac";
  font-size: 40px;
}

